@font-face {
    font-family: 'silkscreennormal';
    src: url('slkscr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pixelfont';
    src: url('pixel_font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
